@charset "utf-8";
html{height:100%;}
body{
	background:url(../images/x1.jpg) no-repeat/* ,-moz-linear-gradient(top, red, rgba(57, 217, 204, 0.5) )*/; /* Old browsers */
	
	background-size: 100% auto;
	padding:0;
	overflow:-Scroll;overflow-x:hidden;
	position:relative;
	margin:0;
	height:100%;

}
a{text-decoration:none;}
canvas{display:block;width:100%;height:100%;top:0;left:0;position:fixed;}

